<div class="row">
    <div class="col-4">
        <ngb-pagination [collectionSize]="restaurantList.count" [(page)]="queryParams.page" [pageSize]="queryParams.pageSize" aria-label="Default pagination" (pageChange)="getAll()"></ngb-pagination>
    </div>
    <div class="col-8">
        <form class="form-inline">
            <b>Price range: </b>
            <input type="number" class="form-control" id="priceFrom" name="priceFrom" min="1" max="5" [(ngModel)]="queryParams.filter.priceFrom" (change)="getAll()">
            <input type="number" class="form-control" id="priceTo" name="priceTo" min="1" max="5" [(ngModel)]="queryParams.filter.priceTo" (change)="getAll()">
        </form>
    </div>

</div>


<div class="row">
    <app-restaurant-card class="col-4" *ngFor="let restaurant of restaurantList.results" [restaurant]="restaurant" (openModal)="openModal($event)" [menuList]="menuList"></app-restaurant-card>
</div>
