<div class="row">
    <div class="col">
        <h3 >The Dinning Room</h3>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/restaurants']">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/restaurants', '']">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['restaurants', 'german']">German</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['restaurants', 'chinese']">Chinese</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['restaurants', 'american']">American</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['restaurants', 'indian']">Indian</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['restaurants', 'pizza']">Pizza</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['restaurants', 'vegetarian']">Vegetarian</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
          </ul>
    </div>
</div>
